# Compiled class file
*.class
out/

# temp files
*.log
*.cache
*.diff
*.patch
*.tmp

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpatch

# idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# system ignore
.DS_Store
Thumbs.db